.outercontainer {
  height: 100%;
  width: 100%;
}



nav ul {
	list-style-type: none;
  padding-left: 70px;
  padding-top: 95px;

  position: absolute; 
  overflow: hidden;
}
.headercontainer {
  padding: 10px;

  padding-left: 20px;


  background-color: black;
  border-radius: 2px;
  position: absolute; 
  z-index: 3;

  
}

.headerOutercontainer {
  padding-top: 3.75em;
  position: absolute; 

}

.headercontainer2 {

padding-top: 22px;
padding-bottom: 20px;
padding-right: 0px;
padding-left: 6px;


  background-color: black;
  border-radius: 2px;
  position: absolute; 
  z-index: 3;

  
}

.headerOutercontainer2 {
  padding-top: 11.375em;
  position: absolute; 
}


.headercontainer3 {

  padding-top: 22px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 6px;
  
  
    background-color: black;
    border-radius: 2px;
    position: absolute; 
    z-index: 3;
  
    
  }
  
  .headerOutercontainer3 {
    padding-top: 15.375em;
    position: absolute; 
  }
  

#rotate {
  width: 40px;
  -ms-transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg);
}

.sideheader {

  font-size: 12px;
  line-height: 20px;
font-family: Arial;  text-transform: none;
  text-decoration: none;
  color:  #fcfcfc;
font-weight: bold;

  letter-spacing: .1400em;
}

.header {

  font-size: 14px;
  line-height: 20px;
font-family: Arial;  text-transform: none;
  text-decoration: none;
  color:  #fcfcfc;
font-weight: bold;

  letter-spacing: .1400em;
}
.headernoA {

  font-size: 14px;
  line-height: 18px;
font-family: Arial;  text-transform: none;
  text-decoration: none;
  color:  black;
font-weight: bold;

  letter-spacing: .1400em;
}

.header:hover {
  font-size: 14px;
  line-height: 20px;

font-family: Arial;  text-transform: none;
  text-decoration: none;
  color: white;
  letter-spacing: .1400em;
}

.item {
  font-size: 13px;
  line-height: 26px;
font-family: Arial;  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: 00em;
}

.item:hover {
  font-size: 13px;
  line-height: 26px;
font-family: Arial;  text-transform: none;
  text-decoration: none;
  color: #e13dd0;
  letter-spacing: 00em;
}

.line {
  font-size: 13px;
  line-height: 3px;
  font-family: Arial!important;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: 00em;
  
}

.statement {
  font-size: 13px;
  line-height: 16px;
font-family: Arial;  text-transform: none;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  letter-spacing: 00em;
}

.statement:hover {
  font-size: 13px;
  line-height: 16px;
font-family: Arial;  text-transform: none;
  text-decoration: none;
  color: #e13dd0;
  letter-spacing: 00em;
}

#left {


  position: absolute;
  width: 320px;
height: 100%

}

#line {
  position: absolute;
  width: 1px;
  min-height: 100%;
  
  left: 300px;
  background-color: black;
  z-index: 100 ;
}






body { 
  margin:0; 
  background-color: #f1f1f1 ;
  overflow-x: hidden;
  overflow-y: hidden;

}

#bufferTop, #bufferBottom, #bufferLeft, #bufferRight {
	background: black;
	position: fixed;
	}
	#bufferLeft, #bufferRight {
		top: 0; bottom: 0;
		width: 14px;
    z-index: 2;
		}
		#bufferLeft { left: 0; }
		#bufferRight { right: 0; }
		
	#bufferTop, #bufferBottom {
		left: 0; right: 0;
		height: 14px  ;
    z-index: 2;
		}
		#bufferTop { top: 0; }
		#bufferBottom { bottom: 0; }


.symbolContainer {
  width: 50px;
  height: 50px;
}



#utmostRight {
  padding-top: 19px;
  right: 50px;
    position: absolute;
  
    height: 100%;
    overflow:auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }


 #logoContainer {
  right: 88px;

    position: fixed;
    height: 100%;

  }

  .logo {
    width: 17px;
    padding-top: 520px;
    position: absolute;

  
  }



  .scrolling-wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
  

  



.contentheader {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
font-family: Arial;  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: .1400em;
}

.contentheader:hover {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
font-family: Arial;  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: .1400em;
}

.content {
  font-size: 14px;
  line-height: 24px;
font-family: Arial;  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: 00em;
}

.buffer {
  padding-top:105px;
}