.outercontainer {
  height: 100%;
  width: 100%;
}



nav ul {
	list-style-type: none;
  padding-left: 70px;
  padding-top: 95px;

  position: absolute; 
  overflow: hidden;
}
.headercontainer {
  padding: 10px;

  padding-left: 30px;


  background-color: yellow;
  border-radius: 2px;
  position: absolute; 
  z-index: 3;

  
}

.headerOutercontainer {
  padding-top: 60px;
  position: absolute; 
}

.header {

  font-size: 14px;
  line-height: 18px;
font-family: Ubuntu;  text-transform: none;
  text-decoration: none;
  color:  black;
font-weight: bold;

  letter-spacing: .1400em;
}

.header:hover {
  font-size: 14px;
  line-height: 18px;

font-family: Ubuntu;  text-transform: none;
  text-decoration: none;
  color: black;
  letter-spacing: .1400em;
}

.item {
  font-size: 13px;
  line-height: 26px;
font-family: Ubuntu;  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: 00em;
}

.item:hover {
  font-size: 13px;
  line-height: 26px;
font-family: Ubuntu;  text-transform: none;
  text-decoration: none;
  color: blue;
  letter-spacing: 00em;
}

.line {
  font-size: 13px;
  line-height: 3px;
  font-family: Ubuntu!important;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: 00em;
  
}

.statement {
  font-size: 13px;
  line-height: 16px;
font-family: Ubuntu;  text-transform: none;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  letter-spacing: 00em;
}

.statement:hover {
  font-size: 13px;
  line-height: 16px;
font-family: Ubuntu;  text-transform: none;
  text-decoration: none;
  color: #e13dd0;
  letter-spacing: 00em;
}

#left {


  position: absolute;
  width: 100%;
height: 100%

}



#right {
padding-top: 600px;
padding-left: 60px;  
width: 100%;


}



#right::-webkit-scrollbar {
  display: none;
}

body { 
  margin:0; 
  background-color: #f1f1ee ;
  overflow-x: hidden;
  overflow-y: hidden;

}

#bufferTop, #bufferBottom, #bufferLeft, #bufferRight {
	background: white;
	position: fixed;
	}
	#bufferLeft, #bufferRight {
		top: 0; bottom: 0;
		width: 20px;
    z-index: 2;
		}
		#bufferLeft { left: 0; }
		#bufferRight { right: 0; }
		
	#bufferTop, #bufferBottom {
		left: 0; right: 0;
		height: 20px  ;
    z-index: 2;
		}
		#bufferTop { top: 0; }
		#bufferBottom { bottom: 0; }


.symbolContainer {
  width: 50px;
  height: 50px;
}



#utmostRight {
  right: 50px;
    position: absolute;
  
    height: 100%;
    overflow:auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }


 #logoContainer {
    right: 88px;
    
    position: absolute;
    height: 100%;

  }

  .logo {
    width: 17px;
    padding-top: 550px;
    position: absolute;

  
  }



  .scrolling-wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
  

  